[submodule "from-scripting-to-software-with-python-book.wiki"]
	path = from-scripting-to-software-with-python-book.wiki
	url = https://github.com/stephensanwo/from-scripting-to-software-with-python-book.wiki
